<h1>Rdio Display</h1>

<a href="javascript:RdioDisplay.authenticate()" class="button">
  <div>
    <span class="front">Connect with Rdio</span>
    <span class="back">Connect with Rdio</span>
  </div>
</a>

<section class="track">
  <div class="track-image">
    <img class="front" src="">
    <img class="back" src="">
  </div>
</section>
